:root {
  --color-accent: rgb(240, 26, 26);
  --color-primary: rgb(205, 234, 244);
  --color-secondary: rgb(51, 156, 193);
  --color-text-01: #1d272b;
  --color-text-02: #5f7278;
  --color-trans-01: rgba(205, 234, 244, 0.4);
  --color-trans-02: rgba(51, 156, 193, 0.75);
  --color-trans-03: rgba(240, 26, 26, 0.75);
  --font-family: sans-serif, "Roboto", "Ubuntu", "Open Sans", "Helvetica Neue";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;

  border: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--color-primary);
  font-family: var(--font-family);
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 2.5rem;
}

.container {
  padding: 0 150px;
}

.container-margin {
  margin: 0 150px;
}

.container__padding-top {
  padding-top: 120px;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 5%;
  }
  .container__padding-top {
    padding-top: 120px;
  }
}

.section__heading {
  font-family: var(--font-family);
}

.item__title {
  font-family: var(--font-family);
  font-size: 2rem;
}

button {
  cursor: pointer;
}

.count__cart {
  margin-left: 1rem;
  color: var(--color-accent);
  background: var(--color-primary);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -15px;
  font-size: 1.5rem;
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}
